body{
	margin:0;
	overflow:hidden;
}

@font-face{
	font-family:Georgia;
	src:url(Georgia.ttf);
}

.input{
	text-align:center;
	margin:auto;
	width:20vw;
	height:5vh;
	border-radius:15px;
	margin-left:40vw;
	font-family:"Raleway", sans-serif;
	font-size:1.5vw;
}

.book{
	position:absolute;
	width:75vw;
	height:65vh;
}

.header{
	padding-left:2vw;
	font-family:"Raleway", sans-serif;
	font-size:4vw;
	color:white;
	background-color:black;
	padding-top:2.5vh;
	padding-bottom:2.5vh;
}

.crash{
	position:absolute;
	margin-top:3.1vh;
	margin-left:39vw;
	z-index:5;
	border-radius:50%;
	width:6vw;
	padding-bottom:4vh;
}
.ride{
	position:absolute;
	margin-top:3.1vh;
	margin-left:56vw;
	z-index:5;
	border-radius:50%;
	width:6vw;
	padding-bottom:4vh;
}

.tom1{
	position:absolute;
	margin-top:14vh;
	margin-left:46.4vw;
	z-index:5;
	border-radius:50%;
	width:6vw;
	padding-bottom:4vh;
}

.tom2{
	position:absolute;
	margin-top:14vh;
	margin-left:52vw;
	z-index:5;
	border-radius:50%;
	width:4vw;
	padding-bottom:4vh;
}

.hihat{
	position:absolute;
	margin-top:14vh;
	margin-left:52vw;
	z-index:5;
	border-radius:50%;
	width:4vw;
	padding-bottom:4vh;
}

.ride:hover{
	cursor:pointer;
}

.crash:hover{
	cursor:pointer;
}
.tom1:hover{
	cursor:pointer;
}
.tom2:hover{
	cursor:pointer;
}
.hihat:hover{
	cursor:pointer;
}

.header2{
	font-family:"Raleway", sans-serif;
	font-size:4vw;
	color:white;
	background-color:black;
	padding-top:2.5vh;
	padding-bottom:2.5vh;
	text-align:center;
	margin-bottom:10vh;
}

.header3{
	font-family:"Raleway", sans-serif;
	font-size:4vw;
	color:white;
	background-color:black;
	padding-top:2.5vh;
	padding-bottom:2.5vh;
	text-align:center;
	margin-bottom:10vh;
}

.footer{
	background-color:black;
	width:100%;
	height:7vh;
	float:bottom;
}

.background{
	background-image:url("../images/orchestrass.jpg");
	width:100vw;
	height:86vh;
	margin:auto;
	background-size:cover;
}

.trans{
	background-color:black;
	opacity:0.75;
	width:22vw;
	height:86vh;
	margin:auto;
	float:left;
}

.solo{
	margin-top:10vh;
	margin-right:10vw;
	font-family:"Raleway", sans-serif;
	font-size:2vw;
	color:black;
	background-color:#aab0b7;
	border-radius:25px;
	width:15vw;
	transition:0.5s;
	height:5vh;
	text-align:center;
	padding-top:2.5vh;
}

.solo:hover{
	background-color:white;
	color:black;
	cursor:pointer;
}

.book{
	width:50vw;
	height:30vw;
	margin-left:25vw;
}

.multi{
	padding-top:2.5vh;
	margin-top:2.5vh;
	margin-right:10vw;
	text-align:center;
	font-family:"Raleway", sans-serif;
	font-size:2vw;
	color:black;
	width:15vw;
	background-color:#aab0b7;
	border-radius:25px;
	transition:0.5s;
	height:5vh;
}

.multi:hover{
	background-color:white;
	color:black;
	cursor:pointer;
}

.standard{
	padding-top:2.5vh;
	color:#aab0b7;
	font-family:"Raleway", sans-serif;
	position:absolute;
	margin-left:2.5vw;
	font-size:2vw;
	line-height:2.1vh;
}

.image{
	height:20vmin;
	width:20vmin;
	display:inline-block;
	cursor:pointer;
}

.table{
	margin-top:25vh;
	margin:auto;
}

th,td{
	padding:3vw;
}

.keyboard{
	width:100vw;
	z-index:-5;
	position:absolute;
	height:25vh;
}

.key{
	width:2.759vw;
	height:25vh;
	float:left;
	opacity:0.3;
}
.blackKey1{
	width:1.3vw;
	height:16vh;
	position:absolute;
	margin-left:2.4vw;
}
.blackKey2{
	width:1.3vw;
	height:16vh;
	position:absolute;
	margin-left:5.159vw;
}
.blackKey3{
	width:1.3vw;
	height:16vh;
	position:absolute;
	margin-left:10.677vw;
}
.blackKey4{
	width:1.3vw;
	height:16vh;
	position:absolute;
	margin-left:13.436vw;
}
.blackKey5{
	width:1.3vw;
	height:16vh;
	position:absolute;
	margin-left:16.195vw;
}
.blackKey6{
	width:1.3vw;
	height:16vh;
	position:absolute;
	margin-left:21.713vw;
}
.blackKey7{
	width:1.3vw;
	height:16vh;
	position:absolute;
	margin-left:24.472vw;
}
.blackKey8{
	width:1.3vw;
	height:16vh;
	position:absolute;
	margin-left:29.99vw;
}
.blackKey9{
	width:1.3vw;
	height:16vh;
	position:absolute;
	margin-left:32.749vw;
}
.blackKey10{
	width:1.3vw;
	height:16vh;
	position:absolute;
	margin-left:35.508vw;
}
.blackKey11{
	width:1.3vw;
	height:16vh;
	position:absolute;
	margin-left:41.026vw;
}
.blackKey12{
	width:1.3vw;
	height:16vh;
	position:absolute;
	margin-left:43.785vw;
}
.blackKey13{
	width:1.3vw;
	height:16vh;
	position:absolute;
	margin-left:49.303vw;
}
.blackKey14{
	width:1.3vw;
	height:16vh;
	position:absolute;
	margin-left:52.062vw;
}
.blackKey15{
	width:1.3vw;
	height:16vh;
	position:absolute;
	margin-left:54.821vw;
}
.blackKey16{
	width:1.3vw;
	height:16vh;
	position:absolute;
	margin-left:60.339vw;
}
.blackKey17{
	width:1.3vw;
	height:16vh;
	position:absolute;
	margin-left:63.098vw;
}
.blackKey18{
	width:1.3vw;
	height:16vh;
	position:absolute;
	margin-left:68.616vw;
}
.blackKey19{
	width:1.3vw;
	height:16vh;
	position:absolute;
	margin-left:71.375vw;
}
.blackKey20{
	width:1.3vw;
	height:16vh;
	position:absolute;
	margin-left:74.134vw;
}
.blackKey21{
	width:1.3vw;
	height:16vh;
	position:absolute;
	margin-left:79.652vw;
}
.blackKey22{
	width:1.3vw;
	height:16vh;
	position:absolute;
	margin-left:82.3vw;
}
.blackKey23{
	width:1.3vw;
	height:16vh;
	position:absolute;
	margin-left:87.85vw;
}
.blackKey24{
	width:1.3vw;
	height:16vh;
	position:absolute;
	margin-left:90.4vw;
}
.blackKey25{
	width:1.3vw;
	height:16vh;
	position:absolute;
	margin-left:93.2vw;
}